
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="center">
  <div class="container">
    <div class="text">
      How are you feeling today?
    </div>
    <form action="#">
      <div class="line">
        <hr>
      </div>
      <div class="data">
        <input type="radio" id="r1" name="choice" value="30">
        <label for="r1">1</label>
      </div>
      <div class="data">
        <input type="radio" id="r2" name="choice" value="30">
        <label for="r2">2</label>
      </div>
      <div class="data">
        <input type="radio" id="r3" name="choice" value="30">
        <label for="r3">3</label>
      </div>
      <div class="data">
        <input type="radio" id="r4" name="choice" value="30">
        <label for="r4">4</label>
      </div>
      <div class="data">
        <input type="radio" id="r5" name="choice" value="30">
        <label for="r5">5</label>
      </div><div class="data">
        <input type="radio" id="r6" name="choice" value="30">
        <label for="r6">6</label>
      </div>
      <div class="data">
        <input type="radio" id="r7" name="choice" value="30">
        <label for="r7">7</label>
    </div>
      <div class="data">
        <input type="radio" id="r8" name="choice" value="30">
        <label for="r8">8</label>
      </div>
      <div class="data">
        <input type="radio" id="r9" name="choice" value="30">
        <label for="r9">9</label>
      </div>
      <div class="data">
        <input type="radio" id="r10" name="choice" value="30">
        <label for="r10">10</label>
      </div>
      <div class="btn">
        <div class="inner"></div>
        <button type="submit">Respond</button>
      </div>
      <div class="signup-link">
        <a href="#">Leave a comment</a>
      </div>
    </form>
  </div>
</div>

